.header__logo{
  width: 200px;
  height: 50px;
}

.navbar-dark{
  background-color: black!important;
}

.news{
  width: 80%;
  margin: 10px auto;
  height: 300px;
}
.box{
  width:150px;
  height:100px;
  padding:30px;
  margin:10px;
  background:#ddd;
}
.scroll{
  overflow:scroll;
}
.scrollx{
  overflow:hidden;
  overflow-x:scroll;
}
.scrolly{
  overflow:hidden;
  overflow-y:scroll;
}
.box p{
 white-space:nowrap; 
}

.karebu-edit{
  color: #c52929;
  font-weight: bold;
  text-align: center;
}